.heading {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  text-align: center;

  &--uppercase {
    text-transform: uppercase;
  }

  &--medium {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    text-align: center;
  }

}
